@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-control li {
  width: 66px !important;
  height: 5px !important;
}

.carousel-control li button {
  width: 48px !important;
  height: 5px !important;
  background-color: #166534 !important;
}


.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 51;
  background-color: #c94a64;
  width: 100%;
  transform-origin: left;
  animation: scroll-watcher linear;
  scale: 0 1;
  animation-timeline: scroll(y)
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

.brighten {
  animation-timeline: view(block 100% 0%);

  animation-name: brighten;
  animation-fill-mode: both;
  animation-duration: 1ms;
  /* Firefox requires this to apply the animation */
  animation-timing-function: linear;
}


@keyframes brighten {
  from {
    filter: brightness(0.2);
  }

  to {
    filter: brightness(1);
  }
}

.tech-animate {
  animation-timeline: view(block 100% 0%);

  animation-name: tech-animate;
  animation-fill-mode: both;
  animation-duration: 1ms;
  /* Firefox requires this to apply the animation */
  animation-timing-function: linear;
}

@keyframes tech-animate {
  from {
    filter: brightness(0.2);
    transform: scale(0.9);
  }

  to {
    filter: brightness(1);
    transform: scale(1);
  }
}